<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="../JS/jquery-1.11.1.min.js"></script>

    <script type="text/javascript">
        //$(function () {
        //    $('input:first').focus();
        //    $('#outer').focusout(function () {
        //        alert('out');
        //    });
        //});
    </script>

</head>
<body onclick="alert('body')">
    <div id="outer">
        <input type="text" style="width:0px;height:0px;border:0px;outline:0px;" />
    </div>
    <a onclick="alert('a');">asdfasdfaaaaaaaaa</a>
</body>
</html>
