<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="../JS/jquery-1.11.1.min.js"></script>
    <script src="../JS/Common3.0.js"></script>
    <link href="../JS/SelectBox/SelectBox.css" rel="stylesheet" />
    <script src="../JS/SelectBox/SelectBox.js"></script>
</head>
<body>

    <div class="selectBox">
        <!--<div class="selectResult">
            计算机应用 英语 计算机应用 英语 计算机应用 英语
        </div>
        <div class="selectIcon"></div>
        <div class="clear"></div>-->
    </div>


    <!--<div class="selectBoxConter">
        <div class="yesBtn">
            确定
        </div>
        <div class="tabDiv">
            <div class="tabItem tabSelectItem">
                本科
            </div>
            <div class="tabItem">
                硕士
            </div>
            <div class="clear"></div>
        </div>

        <div class="selectBoxPanel panelSelectd">
            <div class="secondLine">
                <div class="secondTop">
                    <div class="selectTopItem">
                        商科
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="secondContent">
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div><div class="selectBoxItem">
                        计算机应用
                    </div><div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="secondLine">
                <div class="secondTop">

                    <div class="selectTopItem">
                        计算机类
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="secondContent">
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

        <div class="selectBoxPanel ">
            <div class="secondLine">
                <div class="secondTop">
                    <div class="selectTopItem">
                        商科
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="secondContent">
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div><div class="selectBoxItem">
                        计算机应用
                    </div><div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="secondLine">
                <div class="secondTop">

                    <div class="selectTopItem">
                        计算机类
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="secondContent">
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>-->








    <!--<div class="selectBoxConter">
        <div class="yesBtn">
            确定
        </div>

        <div class="selectBoxPanel panelSelectd">
            <div class="secondLine">
                <div class="secondTop">
                    <div class="selectTopItem">
                        商科
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="secondContent">
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div><div class="selectBoxItem">
                        计算机应用
                    </div><div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="secondLine">
                <div class="secondTop">

                    <div class="selectTopItem">
                        计算机类
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="secondContent">
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        计算机应用
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div>
                    <div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div><div class="selectBoxItem">
                        英语
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>-->




    <!--<div class="selectBoxConter">
        <div class="selectBoxPanel panelSelectd">
            <div class="selectBoxItem">
                计算机应用
            </div>
            <div class="selectBoxItem">
                英语
            </div>
            <div class="selectBoxItem">
                计算机应用
            </div>
            <div class="selectBoxItem">
                英语
            </div>
            <div class="selectBoxItem">
                计算机应用
            </div>
            <div class="selectBoxItem">
                英语
            </div>
            <div class="selectBoxItem">
                计算机应用
            </div>
            <div class="selectBoxItem">
                英语
            </div>
            <div class="clear"></div>
        </div>
    </div>-->


    <p>

    </p>

    <script type="text/javascript">
        ////选择 控件使用----一级
        $('.selectBox').selectBox({
            width: 300,
            data: [
                { id: '1', text: '计算机应用a' },
                { id: '2', text: '计算机应用b' },
                { id: '3', text: '英语1' },
                { id: '4', text: '英语2' },
                { id: '5', text: '英语3' },
            ],
            selectedData: [
                 { id: '1', text: '计算机应用a' },
                 { id: '5', text: '英语3' },
            ],
            level: 1,
            moreSelcet: true
        });

        ////选择 控件使用----二级
        //$('.selectBox').selectBox({
        //    width: 300,
        //    data: [
        //        {
        //            id: '111', text: '计算机系', children: [
        //                { id: '1', text: '计算机应用a' },
        //                { id: '2', text: '计算机应用b' },
        //                { id: '3', text: '英语1' },
        //                { id: '4', text: '英语2' },
        //                { id: '5', text: '英语3' },
        //            ]
        //        },
        //        {
        //            id: '112', text: '商科', children: [
        //            { id: '11', text: '计算机应用a' },
        //            { id: '12', text: '计算机应用b' },
        //            { id: '13', text: '英语1' },
        //            { id: '14', text: '英语2' },
        //            { id: '15', text: '英语3' },
        //          ]
        //        }
        //    ],
        //    selectedData: [
        //         { id: '1', text: '计算机应用a' },
        //         { id: '5', text: '英语3' },
        //    ],
        //    level: 2,
        //    moreSelcet: false
        //});



        ////选择 控件使用----三级
        //$('.selectBox').selectBox({
        //    width: 300,
        //    data: [
        //       {
        //           text: '本科', children: [
        //                               {
        //                                   id: '111', text: '计算机系', children: [
        //                                       { id: '1', text: '计算机应用a' },
        //                                       { id: '2', text: '计算机应用b' },
        //                                       { id: '3', text: '英语1' },
        //                                       { id: '4', text: '英语2' },
        //                                       { id: '5', text: '英语3' },
        //                                   ]
        //                               },
        //        {
        //            id: '112', text: '商科', children: [
        //            { id: '11', text: '计算机应用a' },
        //            { id: '12', text: '计算机应用b' },
        //            { id: '13', text: '英语1' },
        //            { id: '14', text: '英语2' },
        //            { id: '15', text: '英语3' },
        //            ]
        //        }
        //           ]
        //       },
        //       {
        //           text: '硕士', children: [
        //                               {
        //                                   id: '111', text: '计算机系', children: [
        //                                       { id: '21', text: '计算机应用a' },
        //                                       { id: '22', text: '计算机应用b' },
        //                                       { id: '23', text: '英语1' },
        //                                       { id: '24', text: '英语2' },
        //                                       { id: '25', text: '英语3' },
        //                                   ]
        //                               },
        //        {
        //            id: '112', text: '商科', children: [
        //            { id: '211', text: '计算机应用a' },
        //            { id: '212', text: '计算机应用b' },
        //            { id: '213', text: '英语1' },
        //            { id: '214', text: '英语2' },
        //            { id: '215', text: '英语3' },
        //            ]
        //        }
        //           ]
        //       }
        //    ],
        //    selectedData: [
        //         { id: '1', text: '计算机应用a' },
        //         { id: '5', text: '英语3' },
        //    ],
        //    level: 3,
        //    moreSelcet: true
        //});
    </script>


    <div class="PostContent">
        <b>岗位职责：</b><br>
        1、确动公司年度招聘计划以及预算，与部门沟通招聘需求负责招聘工作；<br>2、选择并且维护招聘渠道，并拓展新的招聘渠道，发布招聘广告、参加各种招聘会；<br>3、组织、安排面试，并且进行人力资源初试；<br>4、进行薪资谈判、安排候选人入职，以及安排体检；<br>5、候选人进入公司后，对试用期员工进行试用期沟通；<br>6、办理劳动关系中相关手续（报到，转正，调动，离职）；<br>7、领导交办的其他事情。<br>                <br>
        <b>岗位要求：</b><br>
        1、大专以上学历，人力资源、行政管理、英语等相关专业；<br>2、至少一年以上人力资源等相关工作经验；<br>3、熟练使用办公软件；熟悉人力资源系统以及了解劳动合同法及相关人事政策法规的优先考虑；<br>4、具备强烈的责任感，事业心，优秀的沟通能力，耐心、细心，以及严谨的逻辑思维能力。<br><br><b>晋升机制：</b><br><div class="pdb70">
            <div class="contedit zidx84">
                <label class="textstyleNew inppromNew" style="padding-top:8px">行政助理</label>
            </div>
            <label class="parr"></label><div class="contedit zidx84">
                <label class="textstyleNew inppromNew" style="padding-top:8px">行政专员</label>
            </div>
            <label class="parr"></label><div class="contedit zidx84">
                <label class="textstyleNew inppromNew" style="padding-top:8px">行政主管</label>
            </div>
            <label class="parr"></label><div class="contedit zidx84">
                <label class="textstyleNew inppromNew" style="padding-top:8px">行政经理</label>
            </div>
            <label class="parr"></label><div class="contedit zidx84">
                <label class="textstyleNew inppromNew" style="padding-top:8px">行政总监</label>
            </div>
        </div>
    </div>
</body>
</html>
